body{
    background: linear-gradient(59deg, rgba(255,105,191,1) 0%, rgba(255,66,130,1) 27%, rgba(255,92,92,1) 55%, rgba(255,203,43,1) 100%) !important;
}

footer{
    padding-top: 10px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footerContainer1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 510px) {
    #footerContainer1{
        flex-direction: column;
        align-items: center;
    }
}

#footerContainer2{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
}

#footerContainer3{
    width: 100%;
}

#container1{
    border: solid #FBFBFB 3px ;
    border-radius: 10px;
    background-color: #332D2D;
    padding: 2.5%;
    margin: 2.5%;
}